<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">Order Summary</div>
<div class="p-4">
    <p class="mb-4 font-italic">
        Sipping costs will be added depending on choices made during checkout
    </p>
    <ul
        class="list-ubstyled mb-4"
        *ngIf="(basketTotals$ | async) as totals"
    >
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Subtotal</strong>
            <strong>{{totals.subtotal | currency}}</strong>

        </li>

        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Sipping and handling</strong>
            <strong>{{totals.shipping | currency}}</strong>

        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong>{{totals.total | currency}}</strong>

        </li>

    </ul>
</div>
